.article-content {
  padding: 10px;
}
.article-content-element {
  margin-bottom: 15px;
}
.article-content-header {
  margin-bottom: 10px;
}
.toggle-btn {
  font-size: 20px;
  cursor: pointer;
}
.article-content-logo {
  font-size: 20px;
  cursor: pointer;
}
@keyframes sizeUp {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 30px;
  }
  100% {
    font-size: 20px;
  }
}
.article-content-logo:hover {
  animation-name: sizeUp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.article-content-title {
  font-size: 25px;
}
.article__content-info {
  display: flex;
  margin-bottom: 5px;
}
