.profile {
  border: 1px solid #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
}
@keyframes imgMove {
  0% {
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
.profile-img:hover {
  animation-name: imgMove;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.profile-title {
  margin: 10px 0px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}
